---
import Image from "astro/components/Image.astro";

const { name, certification, desc, imageUrl } = Astro.props;
---

<div class="card">
  <Image src={imageUrl} alt="test" class="coach-image" />
  <div class="card-content">
    <h3>{name}</h3>
    <p class="caption">{certification}</p>
    <p>
      {desc}
    </p>
  </div>
</div>

<style>
  .card {
    width: 100%;
    text-align: left;
    border: 2px solid #013478;
    border-radius: 8px;
  }
  .card-content {
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .coach-image {
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0px 0px;
  }
</style>
