---
import { Icon } from "astro-icon/components";
---

<section class="info-box">
  <h2>What We Evaluate</h2>
  <div class="card">
    <h3>Technical Skills</h3>
    <p>
      Dribbling, passing, shooting, first touch, and ball control under
      pressure.
    </p>
  </div>
  <div class="card">
    <h3>Physical Attributes</h3>
    <p>Speed, agility, strength, endurance, and overall athletic potential.</p>
  </div>
  <div class="card">
    <h3>Tactical Understanding</h3>
    <p>
      Game understanding, positioning, decision-making, and off-ball movement.
    </p>
  </div>
  <div class="card">
    <h3>Mental Fortitude</h3>
    <p>
      Resilience, communication, leadership, and attitude on and off the pitch.
    </p>
  </div>
</section>

<style>
  .card {
    text-align: left;
    padding: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow:
      0px 0px 0px #00000000,
      0px 2px 4px #01347814;
  }
</style>
