---
import Image from "astro/components/Image.astro";
import BannerImage from "../../images/hero-image.jpg";

const { pageTitle } = Astro.props;
---

<section class="hero">
  <Image
    src={BannerImage}
    alt="Hero banner"
    class="hero-img"
    sizes="100vw"
    loading="eager"
    decoding="async"
    format="webp"
    priority
  />
  <div class="overlay">
    <div class="content">
      <h1>
        {pageTitle}
      </h1>
      <p class="caption">
        Building confident, skilled, and intelligent soccer players through
        professional coaching and long-term development.
      </p>
    </div>
    <div class="cta-links">
      <div class="cta">
        <a href="/join-academy" class="cta-link">Join The Academy</a>
      </div>
      <div class="cta">
        <a href="/our-programs" class="cta-link">Our Programs</a>
      </div>
    </div>
  </div>
</section>

<style>
  /* hero section */
  .hero {
    position: relative;
    width: 100%;
    height: 100svh;
    background-color: black;
  }

  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
  }

  .overlay {
    position: absolute;
    inset: 0;
    color: white;
    text-align: center;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .cta-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cta-link {
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  .cta {
    border: 4px solid white;
    padding: 20px;
    border-radius: 20px;
  }
</style>
