---
import { Image } from "astro:assets";
import SouthVanWhiteLogo from "../../images/southvanLogo.svg";
import { Icon } from "astro-icon/components";
---

<section class="info-box site-map">
  <div class="mini-logo-box">
    <Image
      src={SouthVanWhiteLogo}
      alt="South Van FC Team Crest"
      class="mini-logo"
    />
    <p>Building confident, skilled, and intelligent players.</p>
  </div>
  <div>
    <h2>Follow Us:</h2>
    <a
      href="https://www.instagram.com/southvanfc"
      aria-label="Visit our instagram page"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon name="insta" size={50} />
    </a>
  </div>
  <div>
    <h2>Academy</h2>
    <div class="stack link-box">
      <a aria-label="Navigate to the about us page">About Us</a>
      <a aria-label="Navigate to the our philosophy page">Our Philosophy</a>
      <a aria-label="Navigate to the our frequently asked questions page">FAQ</a
      >
    </div>
  </div>
  <div>
    <h2>Our Programs</h2>
    <div class="stack link-box">
      <a aria-label="Navigate to the our programs page">Grassroots (U6-U8)</a>
      <a aria-label="Navigate to the our programs page"
        >Foundation Phase (U9-U12)</a
      >
      <a aria-label="Navigate to the our programs page"
        >Youth Development (U13-U18)</a
      >
    </div>
  </div>
  <div>
    <h2>Contact Us</h2>
    <div class="link-box">
      <p>southvanfc@gmail.com</p>
    </div>
  </div>
</section>

<style>
  .site-map {
    text-align: left;
    align-items: flex-start;
    color: white;
    background-color: #013478;
  }

  .link-box {
    gap: 20px;
    margin: 20px 10px;
  }

  a {
    color: white;
  }

  .mini-logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .mini-logo {
    height: 100px;
    width: auto;
  }
</style>
