---
import { Image } from "astro:assets";
import SouthVanWhiteLogo from "../../images/southvanLogo.svg";
---

<section class="info-box site-map">
  <div class="marketing-logo-box">
    <Image
      src={SouthVanWhiteLogo}
      alt="South Van FC Team Crest"
      class="marketing-logo"
    />
    <p>Building confident, skilled, and intelligent players.</p>
  </div>
  <div>
    <h2>Academy</h2>
    <div class="stack">
      <a>About Us</a>
      <a>Our Philosophy</a>
      <a>Facilities</a>
      <a>FAQ</a>
    </div>
  </div>
  <div>
    <h2>Our Programs</h2>
    <div class="stack">
      <a>Grassroots (U6-U8)</a>
      <a>Foundation Phase (U9-U12)</a>
      <a>Youth Development (U13-U18)</a>
      <a>Camps & Clinics</a>
    </div>
  </div>
  <div>
    <h2>Contact Us</h2>
    <div class="stack">
      <a>Join Academy</a>
      <a>southvanfc@gmail.com</a>
    </div>
  </div>
</section>

<style>
  .site-map {
    text-align: left;
    align-items: flex-start;
    color: white;
    background-color: #013478;
  }

  .stack {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 10px;
  }

  .stack > h2,
  a {
    color: white;
  }

  .marketing-logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .marketing-logo {
    height: 100px;
    width: auto;
  }
</style>
