---
import CoachCard from "./CoachCard.astro";
import SoccerCoach from "../../images/banner-image.webp";
---

<section class="info-box">
  <h2>Start Your Player's Development Journey Today</h2>
  <p>
    Join the South Van FC family and unlock your child's full soccer potential.
    Discover our programs or book a personalized evaluation.
  </p>
  <div class="learn-more-link-container">
    <a href="/player-evaluation">Request Player Evaluation</a>
  </div>
</section>

<style>
  .learn-more-link-container {
    border: 2px solid #013478;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
  }
</style>
