---
import { Icon } from "astro-icon/components";
---

<section class="info-box">
  <h2>Why South Van FC Development Academy?</h2>
  <div class="card">
    <Icon name="targetArrow" size={60} color="#013478" />
    <h3>Player-First Development</h3>
    <p>
      Our philosophy centers on the individual player, fostering growth both on
      and off the field.
    </p>
  </div>
  <div class="card">
    <Icon name="people" size={60} color="#013478" />
    <h3>Licensed & Experienced Coaches</h3>
    <p>
      Our philosophy centers on the individual player, fostering growth both on
      and off the field.
    </p>
  </div>
  <div class="card">
    <Icon name="shieldCheck" size={60} color="#013478" />
    <h3>Age-Appropriate Training Curriculum</h3>
    <p>
      Our philosophy centers on the individual player, fostering growth both on
      and off the field.
    </p>
  </div>
  <div class="card">
    <Icon name="medal" size={60} color="#013478" />
    <h3>Pathway to Competitive Soccer</h3>
    <p>
      Our philosophy centers on the individual player, fostering growth both on
      and off the field.
    </p>
  </div>
</section>

<style>
  .card {
    padding: 10px;
    padding-bottom: 30px;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
</style>
