/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

*,
*::after,
*::before {
box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
display: block;
}
body {
line-height: 1;
}
ol,
ul {
list-style: none;
}
blockquote,
q {
quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
content: "";
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

html {
  font-family: 'Oswald Variable', sans-serif;
}

html, body { height: 100%;  background-color: #FAFAFA;
} 
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main { flex: 1; }

a {
text-decoration: none;
color: black;
}

h1 {
  font-size: 28px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 0.015em;
}

h3 {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  line-height: 1.35;
  font-weight: 500;
}

h6 {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: 0.01em;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6; /* ~25.6px */
}

.caption {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

f

header {
  border-bottom: 1px solid #013478;
}

.stack {
  display: flex;
  flex-direction: column;
}

.info-box {
  margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    align-items: center;
  }