/* global homepage styles */

.banner {
  width: 100%;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block; /* removes inline-image gaps */
}

.custom-list {
    text-align: left;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: disc;
  }