/* global homepage styles */

/* nav styles */

.info-box {
  margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    align-items: center;
  }


.banner {
  width: 100%;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block; /* removes inline-image gaps */
}

.custom-list {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    list-style-type: disc;
  }