---
import Image from "astro/components/Image.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BannerImage from "../images/banner-image.webp";
import { Icon } from "astro-icon/components";
import InfoCarousel from "../components/InfoCarousel.astro";

const pageTitle: string =
  " South Van FC Development Academy | Elite Youth Soccer Training in Vancouver";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="hero">
    <Image
      src={BannerImage}
      alt="Hero banner"
      class="hero-img"
      sizes="100vw"
      loading="eager"
      decoding="async"
      priority
    />
    <div class="overlay">
      <div class="content">
        <h1>
          {pageTitle}
        </h1>
        <p class="caption">
          Building confident, skilled, and intelligent soccer players through
          professional coaching and long-term development.
        </p>
      </div>
      <div class="cta-links">
        <div class="cta">
          <a href="/join-academy" class="cta-link">Join The Academy</a>
        </div>
        <div class="cta">
          <a href="/our-programs" class="cta-link">Our Programs</a>
        </div>
      </div>
    </div>
  </section>
  <section class="info-box">
    <h2>Why South Van FC Development Academy?</h2>
    <div class="card">
      <Icon name="targetArrow" size={60} color="#013478" />
      <h3>Player-First Development</h3>
      <p>
        Our philosophy centers on the individual player, fostering growth both
        on and off the field.
      </p>
    </div>
    <div class="card">
      <Icon name="people" size={60} color="#013478" />
      <h3>Licensed & Experienced Coaches</h3>
      <p>
        Our philosophy centers on the individual player, fostering growth both
        on and off the field.
      </p>
    </div>
    <div class="card">
      <Icon name="shieldCheck" size={60} color="#013478" />
      <h3>Age-Appropriate Training Curriculum</h3>
      <p>
        Our philosophy centers on the individual player, fostering growth both
        on and off the field.
      </p>
    </div>
    <div class="card">
      <Icon name="medal" size={60} color="#013478" />
      <h3>Pathway to Competitive Soccer</h3>
      <p>
        Our philosophy centers on the individual player, fostering growth both
        on and off the field.
      </p>
    </div>
  </section>
  <section class="info-box">
    <h2>Our Programs</h2>
    <InfoCarousel>
      <section class="carousel__slide">
        <h3>Grassroots FUNdamentals</h3>
        <p>U6-U8</p>
        <div class="custom-list-box">
          <h4>Focus Areas:</h4>
          <ul class="custom-list">
            <li>Fundamental ball skills</li>
            <li>Basic game understanding</li>
            <li>Motor skill development</li>
            <li>Fun-focused learning</li>
          </ul>
        </div>
        <div class="program-cta">
          <a href="/our-programs">Learn More</a>
        </div>
      </section>

      <section class="carousel__slide">
        <h3>Learn To Train</h3>
        <p>U8-U11</p>
        <div class="custom-list-box">
          <h4>Focus Areas:</h4>
          <ul class="custom-list">
            <li>Developing game understanding</li>
            <li>Ball mastery under pressure</li>
            <li>Functional tactical awareness</li>
          </ul>
        </div>
        <div class="program-cta">
          <a href="/our-programs">Learn More</a>
        </div>
      </section>

      <section class="carousel__slide">
        <h3>Train To Train</h3>
        <p>U11-U15</p>
        <div class="custom-list-box">
          <h4>Focus Areas:</h4>
          <ul class="custom-list">
            <li>Heightened physical, tactical and technical focus</li>
            <li>Preparing players for competitive environments</li>
            <li>Deeper understanding of the game</li>
          </ul>
        </div>
        <div class="program-cta">
          <a href="/our-programs">Learn More</a>
        </div>
      </section>

      <section class="carousel__slide">
        <h3>Train To Compete</h3>
        <p>U15-U18</p>
        <div class="custom-list-box">
          <h4>Focus Areas:</h4>
          <ul class="custom-list">
            <li>Focus on competitive excellence</li>
            <li>Developing core game intelligence,</li>
            <li>Developing consistent high-quality performance habits</li>
            <li>Introduce advanced drills and training challenges</li>
          </ul>
        </div>
        <div class="program-cta">
          <a href="/our-programs">Learn More</a>
        </div>
      </section>

      <section class="carousel__slide">
        <h3>Train To Win</h3>
        <p>U18+</p>
        <div class="custom-list-box">
          <h4>Focus Areas:</h4>
          <ul class="custom-list">
            <li>Elite performance and professional</li>
            <li>Advanced development of game intelligence,</li>
            <li>Exposure to elite level of play</li>
          </ul>
        </div>
        <div class="program-cta">
          <a href="/our-programs">Learn More</a>
        </div>
      </section>
    </InfoCarousel>
    <div>
      <p>Swipe to view our programs</p>
    </div>
  </section>
  <section class="info-box">
    <h2>Our Development Philosophy</h2>
    <p>
      At South Van FC, we believe in a holistic approach to player development,
      nurturing not just skill but character. Our comprehensive philosophy is
      built on principles that extend beyond the pitch.
    </p>
    <div>
      <ul class="custom-list">
        <li>Long-term player development over short-term results.</li>
        <li>
          Fostering confidence, creativity, and decision-making on the ball.
        </li>
        <li>
          Providing a safe, positive, and challenging learning environment.
        </li>
        <li>Emphasizing respect, teamwork, and sportsmanship.</li>
        <li>Building intelligent players who understand the game.</li>
      </ul>
    </div>
  </section>
</BaseLayout>

<style>
  /* hero section */
  .hero {
    position: relative;
    width: 100%;
    height: 100svh;
    background-color: black;
  }

  .overlay {
    position: absolute;
    inset: 0;
    color: white;
    text-align: center;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .cta-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cta-link {
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  .cta {
    border: 4px solid white;
    padding: 20px;
    border-radius: 20px;
  }
  .info-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
  }

  .card {
    padding: 10px;
    padding-bottom: 30px;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .custom-list {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    list-style-type: disc;
  }

  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
  }

  .program-cta {
    border: 4px solid #013478;
    padding: 20px;
    border-radius: 20px;
  }

  /* Slides */

  .custom-list-box {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .carousel__slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    border: 2px solid #013478;
    padding: 1.5rem;
    background: transparent;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* Typography polish */
  .carousel__slide h3 {
    margin: 0;
    font-size: 1.25rem;
  }

  .carousel__slide ul {
    padding-left: 1.25rem;
    margin: 0;
  }

  /* Tablet / desktop: show more than one */
  @media (min-width: 768px) {
    .carousel__slide {
      flex-basis: 50%;
    }
  }

  @media (min-width: 1024px) {
    .carousel__slide {
      flex-basis: 33.333%;
    }
  }
</style>
