---
import Image from "astro/components/Image.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BannerImage from "../images/banner-image.webp";
import { Icon } from "astro-icon/components";

const pageTitle: string =
  " South Van FC Development Academy | Elite Youth Soccer Training in Vancouver";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="hero">
    <Image
      src={BannerImage}
      alt="Hero banner"
      class="hero-img"
      sizes="100vw"
      loading="eager"
      decoding="async"
      priority
    />
    <div class="overlay">
      <h1>
        {pageTitle}
      </h1>
      <p class="caption">
        Building confident, skilled, and intelligent soccer players through
        professional coaching and long-term development.
      </p>
    </div>
  </section>
  <section class="info-box">
    <h2>Why South Van FC Development Academy?</h2>
    <div class="card">
      <Icon name="targetArrow" size={60} color="#013478" />
      <h3>Player-First Development</h3>
      <p>
        Our philosophy centers on the individual player, fostering growth both
        on and off the field.
      </p>
    </div>
    <div class="card">
      <Icon name="people" size={60} color="#013478" />
      <h3>Licensed & Experienced Coaches</h3>
      <p>
        Our philosophy centers on the individual player, fostering growth both
        on and off the field.
      </p>
    </div>
    <div class="card">
      <Icon name="shieldCheck" size={60} color="#013478" />
      <h3>Age-Appropriate Training Curriculum</h3>
      <p>
        Our philosophy centers on the individual player, fostering growth both
        on and off the field.
      </p>
    </div>
    <div class="card">
      <Icon name="medal" size={60} color="#013478" />
      <h3>Pathway to Competitive Soccer</h3>
      <p>
        Our philosophy centers on the individual player, fostering growth both
        on and off the field.
      </p>
    </div>
  </section>
  <section class="info-box">
    <h2>Our Development Philosophy</h2>
    <p>
      At South Van FC, we believe in a holistic approach to player development,
      nurturing not just skill but character. Our comprehensive philosophy is
      built on principles that extend beyond the pitch.
    </p>
    <div>
      <ul class="dev-info">
        <li>Long-term player development over short-term results.</li>
        <li>
          Fostering confidence, creativity, and decision-making on the ball.
        </li>
        <li>
          Providing a safe, positive, and challenging learning environment.
        </li>
        <li>Emphasizing respect, teamwork, and sportsmanship.</li>
        <li>Building intelligent players who understand the game.</li>
      </ul>
    </div>
  </section>
</BaseLayout>

<style>
  h1 {
    font-size: 36px;
    line-height: 2.75rem;
    font-weight: bold;
  }

  .info-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
  }

  .card {
    padding: 10px;
    padding-bottom: 30px;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  h2 {
    font-size: 24px;
    line-height: 1.75rem;
    font-weight: 700;
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
  }

  .caption {
    font-size: 18px;
    line-height: 1.9rem;
    font-weight: 400;
  }

  p {
    font-weight: 300;
    line-height: 24px;
  }

  .dev-info {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    list-style-type: disc;
  }

  .hero {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--header-height));
    overflow: hidden;
    height: 100svh;
  }

  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    inset: 0;
    display: grid;
    top: 100px;
    color: white;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
</style>
