---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle: string = "South Van FC Development Academy | Join The Academy";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>
    {pageTitle}
  </h1>
</BaseLayout>
