---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle: string = "South Van FC Development Academy | Our Programs";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>
    {pageTitle}
  </h1>
</BaseLayout>

<style>
  h1 {
    font-size: 36px;
    line-height: 2.75rem;
    font-weight: bold;
  }
</style>
