---
import { Image } from "astro:assets";
import SouthVanLogo from "../images/southvan-logo.png";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle: string = "Form Submitted Successfully!";
---

<BaseLayout>
  <div class="hero">
    <Image src={SouthVanLogo} alt="test" class="image" />
    <h1>
      {pageTitle}
    </h1>
    <p>
      We will reach out to you with details for next steps within 24 - 48 hours
    </p>
  </div>
</BaseLayout>

<style>
  .image {
    width: 200px;
    height: auto;
  }
  .hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
</style>
