---
import Image from "astro/components/Image.astro";

const { name, certification, desc, imageUrl } = Astro.props;
---

<div class="card">
  <Image src={imageUrl} alt="test" class="coach-image" />
  <div class="card-content">
    <h3>{name}</h3>
    <p>{certification}</p>
    <p class="caption">
      {desc}
    </p>
  </div>
</div>

<style>
  .card {
    padding: 20px;
    width: 100%;
    text-align: left;
    border: 2px solid #013478;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .coach-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
</style>
