---

---

<section class="info-box">
  <h2>Our Development Philosophy</h2>
  <p>
    At South Van FC, we believe in a holistic approach to player development,
    nurturing not just skill but character. Our comprehensive philosophy is
    built on principles that extend beyond the pitch.
  </p>
  <div>
    <ul class="custom-list">
      <li>Long-term player development over short-term results.</li>
      <li>
        Fostering confidence, creativity, and decision-making on the ball.
      </li>
      <li>Providing a safe, positive, and challenging learning environment.</li>
      <li>Emphasizing respect, teamwork, and sportsmanship.</li>
      <li>Building intelligent players who understand the game.</li>
    </ul>
  </div>
</section>
