---
import Accordian from "./Accordian.astro";
import faqData from "../staticdata/faq-data/faq.json";
---

<section class="info-box stack faq" aria-labelledby="faq-heading">
  <div class="stack faq-header">
    <h2 id="faq-heading">Frequently Asked Questions</h2>
    <p>
      Everything you need to know about training with South Van FC Academy and
      Men's club.
    </p>
  </div>

  <div class="stack faq-list">
    {
      faqData.items.map((item) => (
        <Accordian
          question={item.question}
          answerType={item.answerType}
          answer={item.answer}
        />
      ))
    }
  </div>
</section>

<style>
  .info-box {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .faq {
    max-width: 600px;
    text-align: left;
    gap: 10px;
  }

  .faq-header {
    gap: 10px;
    padding: 10px;
  }

  .faq-list {
    gap: 15px;
    padding: 10px;
  }
</style>
