---
import Accordian from "./Accordian.astro";
import faqData from "../staticdata/faq-data/faq.json";
---

<section class="stack faq">
  <div class="stack faq-header">
    <h2>Frequently Asked Questions</h2>
    <p>
      Everything you need to know about training with South Van FC Academy and
      Men's club.
    </p>
  </div>

  <div class="stack faq-list">
    {
      faqData.items.map((item) => (
        <Accordian
          question={item.question}
          answerType={item.answerType}
          answer={item.answer}
        />
      ))
    }
  </div>
</section>

<style>
  .faq {
    gap: 10px;
  }

  .faq-header {
    gap: 10px;
  }

  .faq-list {
    gap: 15px;
    padding: 10px;
  }
</style>
