---
import SiteMap from "./SiteMap.astro";
---

<footer>
  <SiteMap />
  <p>© 2025 South Van FC. All rights reserved.</p>
  <p>Powered by Nextier Solutions</p>
</footer>

<style>
  p {
    line-height: normal;
    text-align: center;
    padding: 5px;
  }
</style>
