---
import { Icon } from "astro-icon/components";
---

<button
  aria-label="main-menu"
  aria-expanded="false"
  aria-controls="main-menu"
  class="menu"
>
  <Icon name="menu" size={30} color="#013478" />
</button>

<style>
  .menu {
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
    background-color: transparent;
  }
</style>
