---

---

<section class="info-box relative-box">
  <div class="stack content-box">
    <h2>Built Here. Grown Here. Giving Back.</h2>
    <p>
      We are coaches shaped by this community and the game within it. Our
      success started here and now we're committed to helping the next
      generation rise through the same pathways, and beyond.
    </p>
    <a href="/our-coaches" class="learn-more-link"
      >Learn More About Our Coaches</a
    >
  </div>
</section>

<style>
  .content-box {
    gap: 20px;
    align-items: center;
  }

  .learn-more-link {
    border: 2px solid #013478;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
  }
</style>
