---

---

<section class="info-box">
  <h2>Start Your Player's Development Journey Today</h2>
  <p>
    Join the South Van FC family and unlock your child's full soccer potential.
    Discover our programs or book a personalized evaluation.
  </p>
  <a href="/academy/player-evaluation" class="learn-more-link"
    >Request Player Evaluation</a
  >
</section>

<style>
  .learn-more-link {
    border: 2px solid #013478;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
  }
</style>
