---
import EvaulationRequestForm from "../../components/forms/EvaulationRequestForm.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle: string =
  "South Van FC Player Evaluation | Development Academy Tryouts & Assessment";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="stack">
    <div class="title">
      <h1>
        {pageTitle}
      </h1>
    </div>
    <EvaulationRequestForm />
  </div>
</BaseLayout>

<style>
  .stack {
    gap: 20px;
    padding: 20px;
    align-items: center;
  }
  .title {
    text-align: center;
    padding: 20px;
  }
</style>
